.col-left {
  float: left;
  width: 30%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.verticalline {
  border-right: thick solid #f26a2b;
}
.col-right{ 
  float: left;
  width: 70%;
}
.col-right h4{
    text-align: center;
    padding: 1em;
    color: #f4854d;
  }
.vertical-menu a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 600;
  line-height: 3;
  font-size: 16px;
  text-indent: 80px;
  user-select: none;
  color: #f26a2b;
    text-align: left;
}
.vertical-menu a:hover {
  background-color: #f26a2b;
  color: #fff;
}
body {
  font-family: "Open Sans";
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
  color: #4a6e78;
}

h1 {
  text-align: center;
  font-size: 35px;
  line-height: 1.8;
  padding: 50px 0;
    color: #f26a2b;

}

.accordion {
  max-width: 700px;
  margin: 0 auto 100px;
  border-top: 1px solid #d9e5e8;
}
.accordion li {
  border-bottom: 1px solid #d9e5e8;
  position: relative;
  list-style: none;
}
.accordion li p {
  display: none;
  padding: 10px 25px 30px;
  color: grey;
  font-size: 12px;
}
.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 600;
  line-height: 3;
  font-size: 14px;
  text-indent: 15px;
  user-select: none;
  color: #4a6e78;
}
.accordion a:after {
  width: 8px;
  height: 8px;
  border-right: 1px solid #4a6e78;
  border-bottom: 1px solid #4a6e78;
  position: absolute;
  right: 10px;
  content: " ";
  top: 17px;
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2;
  padding: 10px;
}

a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
main .live-search-list {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

main .live-search-box {
  width: 60%;
  margin: auto;
  display: block;
padding: 1em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid #4a6e78 ;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

main .live-search-list li {
color: fff;
list-style: none;
padding: 0;
margin: 5px 0;
}

@media screen and (max-width: 500px) {
  .vertical-menu{
    display: none;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.col-right{
  width: 100%;
  }
}
