.flex-container {
    display: flex;
    justify-content: space-around;
    
}

.faq-1 {
    margin: 10px;
    background-color: antiquewhite;
    padding: 10px;
    width: 33%;
}

#more {
    display: none;
}

#more-1 {
    display: none;
}

#more-2 {
    display: none;
}

